<div class="fill-screen flex flex-col">
  <header class="container mx-auto text-center flex flex-col flex-grow justify-center items-center">
    <h1 class="uppercase text-4xl sm:text-6xl lg:text-7xl xl:text-8xl tracking-widest xl:tracking-wider flex">
      <span class="font-semibold">Freek</span>&ngsp;<span class="font-thin">Mencke</span>
    </h1>
    <p class="relative font-mono tracking-wider font-thin text-xs sm:text-xl lg:text-2xl xl:text-3xl leading-tight">
      <span class="animate-typing">Doing the coding thing. Creating cool shit.</span><span class="cursor"></span>
    </p>
  </header>

  <div class="flex justify-center p-3 sm:p-4 lg:p-6 xl:p-8">
    <a routerLink="/" fragment="projects" class="flex flex-col items-center animate-bounce link-states">
      <div>Projects</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9 12.75 3 3m0 0 3-3m-3 3v-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>
    </a>
  </div>
</div>
